body{
    background-image: url(images/candles-gf648f3958_1920.jpg);
}

#tervetuloa{
    color: rgb(114, 84, 2);
    border: 3px double rgb(87, 11, 11);
    border-radius: 5px;
    padding: 13px;
    margin-right: 1705px;
    background-color: rgb(15, 3, 3);
}
#infoa{
    color: rgb(114, 84, 2);
    border: 3px double rgb(87, 11, 11);
    border-radius: 5px;
    padding: 13px;
    margin-right: 1790px;
    background-color: rgb(15, 3, 3);
}