body{
    background-image: url(images/candles-gf648f3958_1920.jpg);
}

#tervetuloa{
    color: rgb(114, 84, 2);
    border: 3px double rgb(87, 11, 11);
    border-radius: 5px;
    padding: 20px;
    margin-left: 720px;
    margin-right: 720px;
    background-color: rgb(15, 3, 3);
    text-align: center;
}
#infoa, #tiedot, #vastaukset{
    color: rgb(114, 84, 2);
    border: 3px double rgb(87, 11, 11);
    border-radius: 5px;
    padding: 20px;
    margin-right: 1760px;
    margin-top: 130px;
    background-color: rgb(15, 3, 3);
}